doctype html
html
    head
        meta(charset="utf-8")
        script(src="https://kit.fontawesome.com/9e6f42b446.js" crossorigin="anonymous")
        title Youtube-Clone
    body
        header
            h1 Youtube-Clone
        main
            block content
        footer
            span &copy; Youtube-Clone